.fileUploadInput {
    z-index: 1;
    box-shadow: 0 0 6px var(--defaultColor);
    border-radius: 6px;
    width: 92vw;
    margin: 0 auto 8px auto;
}

.fileUploadInput > div {
    height: 30px;
    padding: 0;
}

.fileUploadInput > div > input {
    margin: 0;
    z-index: 1;
    border-radius: 7px 0 0 7px;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

.fileUploadInput input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    height: 0;
    width: 0;
}

.fileUploadInput button {
    position: relative;
    top: 2px;
    left: 48px;
    border: none;
    user-select: none;
    background-color: inherit;
    font-size: 30px;
    line-height: 20px;
}
