.fileUploadInput {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 6px var(--defaultColor);
    border-radius: 6px;
    width: 90vw;
    margin: 15px auto;
}

.fileUploadInput label {
    margin-left: 5px;
    font-family: arial, sans-serif;
    font-size: .75em;
}

.fileUploadInput > div {
    height: 30px;
}

.fileUploadInput > div > input {
    margin-left: 5px;
    position: relative;
    z-index: 1;
    width: calc(90vw - 60px);
    height: 20px;
    border: 1px solid var(--defaultColor);
    border-radius: 7px 0 0 7px;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

.fileUploadInput input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    height: 0;
    width: 0;
}

.fileUploadInput button {
    position: relative;
    top: 5px;
    margin: 0 5px 0 3px;
    border: 1px solid var(--defaultColor);
    width: 40px;
    height: 21px;
    user-select: none;
    background-color: inherit;
    border-radius: 0 7px 7px 0;
    font-size: 30px;
    line-height: 20px;
}
