.container {
    padding: 15px;
    box-shadow: 0 0 20px rgba(66, 50, 98, 0.35);
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background: var(--defaultColor);
    width: 90vw;
}

.fileUploadInput {
    position: relative;
    z-index: 1;
    width: inherit;
}

.fileUploadInput label {
    display: flex;
    align-items: center;
    color: black;
    background: inherit;
    transition: .4s ease;
    font-family: arial, sans-serif;
    font-size: .75em;
    font-weight: normal;
    margin-bottom: 2pt;
}

.fileUploadInput input {
    position: relative;
    z-index: 1;
    width: calc(90vw - 52px);
    height: 25pt;
    border: 1px solid #323262;
    border-radius: 7px 0 0 7px;
    font-size: 18pt;
    user-select: none;
    cursor: pointer;
}

.fileUploadInput input[type="file"] {
    padding: 0;
}

.fileUploadInput input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    height: 0;
    width: 0;
}

.fileUploadInput button {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #323262;
    width: 45px;
    height: 26.5pt;
    user-select: none;
    color: white;
    background-color: inherit;
    border-radius: 0 7px 7px 0;
    font-size: 30pt;
    line-height: 20pt;
}
