.navLink {
    text-decoration: none;
}

header {
    color: white;
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: var(--defaultColor);
    font-size: 23px;
}

header :first-child {
    width: 50vw;
}

header button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    margin: 0;
    opacity: 80%;
}

main {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 100px);
    justify-content: center;
    align-content: flex-start;
}

footer {
    text-align: center;
    color: white;
    height: 37px;
    width: 100%;
    background-color: var(--defaultColor);
}

footer a {
    display: none
}

.flexBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
