body {
    margin: 0;
    --defaultColor: rgba(112, 84, 68, 0.7);
    --toastify-color-light: var(--defaultColor);
    --toastify-color-info: #81baf3;
    --toastify-color-success: #76b076;
    --toastify-color-warning: #ffe26f;
    --toastify-color-error: #ff6556;
    --toastify-toast-width: 520px;
    --toastify-toast-min-height: 84px;
    --toastify-toast-max-height: 600px;
    --toastify-font-family: sans-serif;
    --toastify-text-color-light: rgba(255, 255, 255, 0.87);
}

.Toastify__toast-container--top-center {
    text-align: center;
    top: 50px !important;
    font-size: 18px;
    text-shadow: 1px 1px #383333, 2px 2px black;
}
