.details {
    text-align: center;
}

.details > p {
    width: 80vw;
    text-align: left;
    margin-left: 40px;
    font-size: 14px;
    border-bottom: 1px var(--defaultColor) solid;
    padding-bottom: 10pt;
}

.details h3 {
    font-size: 19px;
    margin: 0;
}

.details > .cardContainer {
    display: inline-block;
    width: 80vw;
}

.details > .cardContainer > .imageContainer {
    width: 70vw;
    height: 70vw;
    margin: auto;
}

.images3flex {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.images3flex .cardContainer {
    width: 30vw;
    height: 30vw;
}

.images3flex .cardContainer .imageContainer {
    width: 30vw;
    height: 30vw;
}

#svgStarContainer {
    padding: 0;
    border-radius: 5pt;
    display: block;
    border: none;
    width: 30px;
    position: relative;
    top: -33px;
    left: 326px;
    background-color: transparent;
}

#svgStarContainer svg {
    opacity: 0.7;
    filter: drop-shadow(1px 1px 1px grey) drop-shadow(3px 2px 2px grey);
}
