.cardContainer h3 {
    margin: -5px 0 0 0;
    font-weight: normal;
    padding: 5px;
    text-align: left;
    color: black;
    font-size: inherit;
}

.addedImagesForProduct {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.addedImagesForProduct img {
    max-width: 48%;
    margin: 1%;
}

.cardContainer {
    width: 125px;
    margin: 2px 2px 10px 4px;
    text-align: center;
    border-radius: 8px;
    border: 1px rgba(222, 219, 219, 0.42) solid;
    box-shadow: 0 0 2px 1px rgba(234, 242, 248, 0.53);
    background-color: rgba(234, 242, 248, 0.14);
    font-size: 11px;
}

.cardContainer .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 125px;
    height: 125px;
    border-radius: 10px;
}

.cardContainer img {
    box-shadow: 0 0 2px 1px rgba(30, 39, 47, 0.67);
    max-width: 98%;
    max-height: 98%;
}

.cardContainer > .navLink > div {
    color: #3d7895;
    width: auto;
    height: 0;
    display: flex;
    justify-content: right;
    opacity: 0.6;
}

.cardContainer > .navLink > div > p {
    color: #000000;
    margin: 0;
    height: 13px;
    background-color: #fffefe;
    z-index: 10;
    border-bottom-right-radius: 12px;
    padding: 1px;
    font-size: 11px;
}

.cardContainer > button {
    opacity: 70%;
    color: white;
    font-weight: bold;
    position: relative;
    background-color: black;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    top: 33px;
    left: 24px;
    border: none;
    box-shadow: 0 0 2px 2px #102d4c;
}
