h3 {
    margin: 0;
    font-size: 12pt;
    font-weight: normal;
    padding-left: 1pt;
    text-align: left;
}

.cardContainer {
    width: 120pt;
    margin: 2pt 2pt 10pt 4pt;
    text-align: center;
}

.cardContainer .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 120pt;
    height: 120pt;
    background-color: rgba(210, 171, 176, 0.18);
    border-radius: 10pt;
}

.cardContainer img {
    box-shadow: 0 0 2px 1px #224466;
    max-width: 98%;
    max-height: 98%;
}

.cardContainer > .navLink > div {
    color: #3d7895;
    width: auto;
    height: 0;
    display: flex;
    justify-content: right;
    opacity: 0.6;
}

.cardContainer > .navLink > div > p {
    color: white;
    font-size: 12pt;
    position: relative;
    margin: 0;
    height: 12pt;
    background-color: #000000;
    z-index: 10;
    top: -17pt;
    left: -1pt;
    width: 40pt;
    border-top-left-radius: 8pt;
    border-bottom-right-radius: 8pt;
    padding: 2pt;
    font-weight: bold;
}

.cardContainer > button {
    color: white;
    font-weight: bold;
    position: relative;
    background-color: black;
    border-radius: 5pt;
    padding: 3pt;
    top: 23pt;
    left: 35pt;
    border: none;
    box-shadow: 0 0 2px 2px #102d4c;
}